@import "../../layouts/variables.scss";

img {
  margin: 12px;
  border-radius: 50%;
  width: 132px;
  height: 132px;
}

.card {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
}

.mat-mdc-card-header {
  display: flex;
  padding: 0 16px 16px;
}

mat-card {
  cursor: pointer;
}

mat-card-title {
  font-size: $font-size-x-large;
  font-weight: $font-bold;
}

mat-card-subtitle {
  font-size: $font-size-little;
  font-style: italic;
}
