// Font Wheight

$font-ligth: 300;
$font-medium: 400;
$font-bold: 700;

// Colors

$color-primary: #8b4513;
$color-secondary: #e69e6a;
$color-success: #13c510;
$color-info: #008cba;
$color-warning: #f53232;
$color-linear: rgba(255, 255, 255, 0.8);
$color-white: #fff;
$color-black:  black;

// Font size

$font-size-little: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-x-large: 18px;
$font-size-xx-large: 20px;
$font-size-xxx-large: 32px;
