.container {
  padding: 14px 0;

  @media (min-width: 420px) {
    padding: 14px
  }
}

.spinner {
  display: flex;
  align-items: center;
}

.wrapper-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  @media (min-width: 420px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
