.container {
  padding: 20px;
  background-color: #FAEBD7;
  height: 100vh;
}

.wrapper-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
